body {
    padding-top: 5rem;
}

.grid{
    display: grid;
}

img{
    height: 100%;
    width: 100%;
}

.grid-container{
    display: grid;
    grid-column: 15px;
    grid-row-gap: 50px;
    padding-left: 20%;
    padding-right: 20%;

}

