body {
    padding-top: 5rem;
}


img{
    height: 100%;
    width: 100%;
}

.grid-container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-rows: 200px;
    grid-gap: 50px;

}

